.status-section-wrapper {
  background-image: url("../img/tx.png");
  background-size: cover;
  background-color: #ffca2b;
  height: 238px;
  margin-top: 200px;
}

.status-section-wrapper i {
  font-size: 40px;
  margin-top: 25px;
}

.status-section-wrapper .count {
  color: white;
  font-size: 26px;
  margin: 30px;
}

.status-section-wrapper .count-tittle {
  font-size: 21px;
}
@media screen and (max-width:768px) {
  .status-section-wrapper i{
    font-size: 30px;
    margin-top: 45px;
  }
  .status-section-wrapper .count{
    font-size: 19px;
  }
  .status-section-wrapper .count-tittle{
    font-size: 16px;
  }
}